body {
  background-color: #fbc547;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
  text-align: center;
}

a {
  color: #000;
  opacity: 0.7;

  &:focus,
  &:hover {
    color: #000;
    opacity: 0.6;
  }
}

.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem;
}

.edit-page {
  position: fixed;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #6b4fbb;
  bottom: 0px;
  width: 150px;
  border-radius: 25px 25px 0px 0px;

  a#edit-page-link {
      color: #fff;
      text-decoration: none;
  }
}
